In [1]:
import pandas as pd
import numpy as np

In [56]:
data=pd.read_excel('type_maharashtra.xlsx')
data

C:\ProgramData\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Vehicle Class Wise Fuel Data of Maharashtra ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,S No,Vehicle Class ...,Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,NaN
3,1,ADAPTED VEHICLE,0,421,8,0,0,0,0,5,...,0,52,"7,225",254,0,37,29,0,1,"8,032"
4,2,AGRICULTURAL TRACTOR,0,"6,61,896",18,0,0,0,0,8,...,0,"4,225",470,1,0,1,0,0,4,"6,66,624"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,67,VEHICLE FITTED WITH COMPRESSOR,0,370,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,371
70,68,VEHICLE FITTED WITH GENERATOR,4,"2,380",0,0,0,0,0,1,...,0,1,3,1,0,0,0,0,0,"2,390"
71,69,VEHICLE FITTED WITH RIG,0,"1,143",0,0,0,0,0,4,...,0,8,4,0,0,0,0,0,0,"1,159"
72,70,VINTAGE MOTOR VEHICLE,0,19,0,0,0,0,0,0,...,0,3,143,0,0,0,0,0,0,165
73,71,X-RAY VAN,0,10,0,0,0,0,0,0,...,0,1,11,0,0,0,1,0,0,23

In [13]:
# Map the "TOTAL" column and "Vehicle Class" column
mapped_data = data[['Unnamed: 23', 'Unnamed: 1']].dropna()

# Print the mapped data
print(mapped_data)

        Unnamed: 23                                         Unnamed: 1
0        TOTAL                             Vehicle Class           ...
3             8,032                                    ADAPTED VEHICLE
4          6,66,624                               AGRICULTURAL TRACTOR
5            14,810                                          AMBULANCE
6                21                                   ANIMAL AMBULANCE
..              ...                                                ...
69              371                     VEHICLE FITTED WITH COMPRESSOR
70            2,390                      VEHICLE FITTED WITH GENERATOR
71            1,159                            VEHICLE FITTED WITH RIG
72              165                              VINTAGE MOTOR VEHICLE
73               23                                          X-RAY VAN

[72 rows x 2 columns]

In [62]:
data
data.drop(0).dropna()

,Vehicle Class Wise Fuel Data of Assam ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
3,1,ADAPTED VEHICLE,0,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,7
4,2,AGRICULTURAL TRACTOR,0,"4,569",0,0,0,0,0,2,...,0,23,20,0,0,0,0,0,0,"4,614"
5,3,AMBULANCE,0,"3,313",2,0,0,0,0,0,...,0,3,889,0,0,6,0,0,0,"4,213"
6,4,ANIMAL AMBULANCE,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
7,5,ARTICULATED VEHICLE,0,961,0,0,0,0,0,0,...,0,1,7,0,0,0,0,0,0,969
8,6,AUXILIARY TRAILER,0,37,0,0,0,0,0,0,...,0,221,0,0,0,0,0,0,0,258
9,7,BUS,6,"15,962",0,0,0,0,0,15,...,0,12,57,1,0,0,0,0,0,"16,053"
10,8,CAMPER VAN / TRAILER,1,378,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,382
11,9,CAMPER VAN / TRAILER (PRIVATE USE),0,28,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,30
12,10,CASH VAN,0,478,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,486
13,11,CONSTRUCTION EQUIPMENT VEHICLE,0,"1,485",0,0,0,0,0,0,...,0,2,0,1,0,0,0,0,0,"1,488"
14,12,CONSTRUCTION EQUIPMENT VEHICLE (COMMERCIAL),0,19,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19
15,13,CRANE MOUNTED VEHICLE,0,"1,186",0,0,0,0,0,0,...,0,6,2,0,0,0,0,0,0,"1,194"
16,14,DUMPER,0,"24,677",0,0,0,0,0,1,...,0,5,15,0,0,0,0,0,0,"24,698"
17,15,EARTH MOVING EQUIPMENT,0,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
18,16,EDUCATIONAL INSTITUTION BUS,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
19,17,E-RICKSHAW(P),0,21,0,0,0,0,0,"67,720",...,0,596,2,0,0,0,0,0,0,"68,339"
20,18,E-RICKSHAW WITH CART (G),0,1,0,0,0,0,0,386,...,0,0,0,0,0,0,0,0,0,387
21,19,EXCAVATOR (COMMERCIAL),1,"6,457",0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,"6,459"
22,20,EXCAVATOR (NT),0,"2,745",0,0,0,0,0,1,...,0,5,2,0,0,0,0,0,0,"2,753"
23,21,FIRE FIGHTING VEHICLE,0,177,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,177
24,22,FIRE TENDERS,0,113,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,113
25,23,FORK LIFT,0,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,28
26,24,GOODS CARRIER,20,"2,25,708",4,0,0,0,0,15,...,0,567,"11,601",6,0,0,1,0,0,"2,37,922"
27,25,HARVESTER,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,26,HEARSES,0,62,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,62
29,27,LIBRARY VAN,0,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
30,28,MAXI CAB,0,"8,090",4,0,0,0,0,0,...,0,1,267,1,0,4,0,0,0,"8,367"
31,29,M-CYCLE/SCOOTER,8,386,0,0,0,0,0,"1,718",...,0,484,"33,07,951",176,0,0,251,0,0,"33,10,984"
32,30,M-CYCLE/SCOOTER-WITH SIDE CAR,0,0,0,0,0,0,0,2,...,0,1,295,0,0,0,0,0,0,298
33,31,MOBILE CANTEEN,0,13,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,15
34,32,MOBILE CLINIC,0,46,0,0,0,0,0,0,...,0,1,2,0,0,0,0,0,0,49
35,33,MOBILE WORKSHOP,0,167,0,0,0,0,0,0,...,0,3,4,0,0,0,0,0,0,174
36,34,MOPED,0,5,0,0,0,0,0,0,...,0,10,"31,109",3,0,0,0,0,0,"31,127"
37,35,MOTOR CAB,6,"37,989",33,0,0,0,0,3,...,0,37,"8,670",12,0,69,6,0,0,"46,825"
38,36,MOTOR CAR,5,"1,43,783","1,388",0,0,0,0,202,...,0,557,"7,07,966",230,0,"7,605",767,0,0,"8,62,573"
39,37,MOTOR CYCLE/SCOOTER-SIDECAR(T),0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,2
40,38,MOTOR CYCLE/SCOOTER-USED FOR HIRE,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
41,39,MOTOR CYCLE/SCOOTER-WITH TRAILER,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
42,40,MOTORISED CYCLE (CC > 25CC),0,0,0,0,0,0,0,0,...,0,0,69,0,0,0,0,0,0,69
43,41,OMNI BUS,0,50,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,51
44,42,OMNI BUS (PRIVATE USE),0,47,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,49
45,43,POWER TILLER,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,2
46,44,POWER TILLER (COMMERCIAL),0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
47,45,PRIVATE SERVICE VEHICLE,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
48,46,PRIVATE SERVICE VEHICLE (INDIVIDUAL USE),0,44,0,0,0,0,0,0,...,0,0,62,0,0,0,0,0,0,106
49,47,RECOVERY VEHICLE,0,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
50,48,ROAD ROLLER,0,16,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
51,49,THREE WHEELER (GOODS),0,"31,782",0,0,0,0,0,57,...,0,15,"2,359",2,0,0,1,0,0,"34,216"
52,50,THREE WHEELER (PASSENGER),2,"55,562",5,0,0,0,0,278,...,0,76,"41,853",70,0,0,11,0,0,"97,857"
53,51,THREE WHEELER (PERSONAL),0,44,0,0,0,0,0,0,...,0,0,144,0,0,0,0,0,0,188
54,52,TOW TRUCK,0,15,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,16
55,53,TRACTOR (COMMERCIAL),0,"71,813",1,0,0,0,0,4,...,0,81,35,0,0,0,0,0,1,"71,935"
56,54,TRACTOR-TROLLEY(COMMERCIAL),0,4,0,0,0,0,0,0,...,0,5,0,0,0,0,0,0,0,9
57,55,TRAILER (AGRICULTURAL),0,102,0,0,0,0,0,7,...,0,"4,431",4,0,0,0,0,0,0,"4,544"
58,56,TRAILER (COMMERCIAL),4,"2,027",0,0,0,0,0,390,...,0,"13,652",22,1,0,0,1,0,0,"16,098"
59,57,TRAILER FOR PERSONAL USE,0,2,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,3
60,58,VEHICLE FITTED WITH COMPRESSOR,0,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78
61,59,VEHICLE FITTED WITH GENERATOR,0,24,0,0,0,0,0,0,...,0,58,0,0,0,0,0,0,0,82
62,60,VEHICLE FITTED WITH RIG,0,106,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,107

In [48]:
last_row = data.iloc[-1]

# Find the maximum value in the last row
max_value = max(last_row)

In [51]:
print("Maximum Value in the Last Row:", max_value)

Maximum Value in the Last Row: X-RAY VAN

In [54]:
max_value = max(last_row)

# Convert the max_value to an integer
max_value_int = int(max_value)

# Print the integer value of the maximum value
print("Integer Value of Maximum Value:", max_value_int)

ValueError: invalid literal for int() with base 10: 'X-RAY VAN'

In [59]:
data=pd.read_excel('type_assam.xlsx')
data

C:\ProgramData\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Vehicle Class Wise Fuel Data of Assam ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,S No,Vehicle Class ...,Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,NaN
3,1,ADAPTED VEHICLE,0,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,7
4,2,AGRICULTURAL TRACTOR,0,"4,569",0,0,0,0,0,2,...,0,23,20,0,0,0,0,0,0,"4,614"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,56,TRAILER (COMMERCIAL),4,"2,027",0,0,0,0,0,390,...,0,"13,652",22,1,0,0,1,0,0,"16,098"
59,57,TRAILER FOR PERSONAL USE,0,2,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,3
60,58,VEHICLE FITTED WITH COMPRESSOR,0,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78
61,59,VEHICLE FITTED WITH GENERATOR,0,24,0,0,0,0,0,0,...,0,58,0,0,0,0,0,0,0,82
62,60,VEHICLE FITTED WITH RIG,0,106,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,107

In [60]:
# Map the "TOTAL" column and "Vehicle Class" column
mapped_data = data[['Unnamed: 23', 'Unnamed: 1']].dropna()

# Print the mapped data
print(mapped_data)

        Unnamed: 23                                         Unnamed: 1
0        TOTAL                             Vehicle Class           ...
3                 7                                    ADAPTED VEHICLE
4             4,614                               AGRICULTURAL TRACTOR
5             4,213                                          AMBULANCE
6                 2                                   ANIMAL AMBULANCE
..              ...                                                ...
58           16,098                               TRAILER (COMMERCIAL)
59                3                           TRAILER FOR PERSONAL USE
60               78                     VEHICLE FITTED WITH COMPRESSOR
61               82                      VEHICLE FITTED WITH GENERATOR
62              107                            VEHICLE FITTED WITH RIG

[61 rows x 2 columns]

In [63]:
data
data.drop(0).dropna()

,Vehicle Class Wise Fuel Data of Assam ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
3,1,ADAPTED VEHICLE,0,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,7
4,2,AGRICULTURAL TRACTOR,0,"4,569",0,0,0,0,0,2,...,0,23,20,0,0,0,0,0,0,"4,614"
5,3,AMBULANCE,0,"3,313",2,0,0,0,0,0,...,0,3,889,0,0,6,0,0,0,"4,213"
6,4,ANIMAL AMBULANCE,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
7,5,ARTICULATED VEHICLE,0,961,0,0,0,0,0,0,...,0,1,7,0,0,0,0,0,0,969
8,6,AUXILIARY TRAILER,0,37,0,0,0,0,0,0,...,0,221,0,0,0,0,0,0,0,258
9,7,BUS,6,"15,962",0,0,0,0,0,15,...,0,12,57,1,0,0,0,0,0,"16,053"
10,8,CAMPER VAN / TRAILER,1,378,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,382
11,9,CAMPER VAN / TRAILER (PRIVATE USE),0,28,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,30
12,10,CASH VAN,0,478,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,486
13,11,CONSTRUCTION EQUIPMENT VEHICLE,0,"1,485",0,0,0,0,0,0,...,0,2,0,1,0,0,0,0,0,"1,488"
14,12,CONSTRUCTION EQUIPMENT VEHICLE (COMMERCIAL),0,19,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19
15,13,CRANE MOUNTED VEHICLE,0,"1,186",0,0,0,0,0,0,...,0,6,2,0,0,0,0,0,0,"1,194"
16,14,DUMPER,0,"24,677",0,0,0,0,0,1,...,0,5,15,0,0,0,0,0,0,"24,698"
17,15,EARTH MOVING EQUIPMENT,0,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
18,16,EDUCATIONAL INSTITUTION BUS,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
19,17,E-RICKSHAW(P),0,21,0,0,0,0,0,"67,720",...,0,596,2,0,0,0,0,0,0,"68,339"
20,18,E-RICKSHAW WITH CART (G),0,1,0,0,0,0,0,386,...,0,0,0,0,0,0,0,0,0,387
21,19,EXCAVATOR (COMMERCIAL),1,"6,457",0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,"6,459"
22,20,EXCAVATOR (NT),0,"2,745",0,0,0,0,0,1,...,0,5,2,0,0,0,0,0,0,"2,753"
23,21,FIRE FIGHTING VEHICLE,0,177,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,177
24,22,FIRE TENDERS,0,113,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,113
25,23,FORK LIFT,0,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,28
26,24,GOODS CARRIER,20,"2,25,708",4,0,0,0,0,15,...,0,567,"11,601",6,0,0,1,0,0,"2,37,922"
27,25,HARVESTER,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,26,HEARSES,0,62,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,62
29,27,LIBRARY VAN,0,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
30,28,MAXI CAB,0,"8,090",4,0,0,0,0,0,...,0,1,267,1,0,4,0,0,0,"8,367"
31,29,M-CYCLE/SCOOTER,8,386,0,0,0,0,0,"1,718",...,0,484,"33,07,951",176,0,0,251,0,0,"33,10,984"
32,30,M-CYCLE/SCOOTER-WITH SIDE CAR,0,0,0,0,0,0,0,2,...,0,1,295,0,0,0,0,0,0,298
33,31,MOBILE CANTEEN,0,13,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,15
34,32,MOBILE CLINIC,0,46,0,0,0,0,0,0,...,0,1,2,0,0,0,0,0,0,49
35,33,MOBILE WORKSHOP,0,167,0,0,0,0,0,0,...,0,3,4,0,0,0,0,0,0,174
36,34,MOPED,0,5,0,0,0,0,0,0,...,0,10,"31,109",3,0,0,0,0,0,"31,127"
37,35,MOTOR CAB,6,"37,989",33,0,0,0,0,3,...,0,37,"8,670",12,0,69,6,0,0,"46,825"
38,36,MOTOR CAR,5,"1,43,783","1,388",0,0,0,0,202,...,0,557,"7,07,966",230,0,"7,605",767,0,0,"8,62,573"
39,37,MOTOR CYCLE/SCOOTER-SIDECAR(T),0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,2
40,38,MOTOR CYCLE/SCOOTER-USED FOR HIRE,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
41,39,MOTOR CYCLE/SCOOTER-WITH TRAILER,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
42,40,MOTORISED CYCLE (CC > 25CC),0,0,0,0,0,0,0,0,...,0,0,69,0,0,0,0,0,0,69
43,41,OMNI BUS,0,50,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,51
44,42,OMNI BUS (PRIVATE USE),0,47,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,49
45,43,POWER TILLER,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,2
46,44,POWER TILLER (COMMERCIAL),0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
47,45,PRIVATE SERVICE VEHICLE,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
48,46,PRIVATE SERVICE VEHICLE (INDIVIDUAL USE),0,44,0,0,0,0,0,0,...,0,0,62,0,0,0,0,0,0,106
49,47,RECOVERY VEHICLE,0,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
50,48,ROAD ROLLER,0,16,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
51,49,THREE WHEELER (GOODS),0,"31,782",0,0,0,0,0,57,...,0,15,"2,359",2,0,0,1,0,0,"34,216"
52,50,THREE WHEELER (PASSENGER),2,"55,562",5,0,0,0,0,278,...,0,76,"41,853",70,0,0,11,0,0,"97,857"
53,51,THREE WHEELER (PERSONAL),0,44,0,0,0,0,0,0,...,0,0,144,0,0,0,0,0,0,188
54,52,TOW TRUCK,0,15,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,16
55,53,TRACTOR (COMMERCIAL),0,"71,813",1,0,0,0,0,4,...,0,81,35,0,0,0,0,0,1,"71,935"
56,54,TRACTOR-TROLLEY(COMMERCIAL),0,4,0,0,0,0,0,0,...,0,5,0,0,0,0,0,0,0,9
57,55,TRAILER (AGRICULTURAL),0,102,0,0,0,0,0,7,...,0,"4,431",4,0,0,0,0,0,0,"4,544"
58,56,TRAILER (COMMERCIAL),4,"2,027",0,0,0,0,0,390,...,0,"13,652",22,1,0,0,1,0,0,"16,098"
59,57,TRAILER FOR PERSONAL USE,0,2,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,3
60,58,VEHICLE FITTED WITH COMPRESSOR,0,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78
61,59,VEHICLE FITTED WITH GENERATOR,0,24,0,0,0,0,0,0,...,0,58,0,0,0,0,0,0,0,82
62,60,VEHICLE FITTED WITH RIG,0,106,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,107

In [64]:
last_row = data.iloc[-1]

# Find the maximum value in the last row
max_value = max(last_row)
print("Maximum Value in the Last Row:", max_value)

Maximum Value in the Last Row: VEHICLE FITTED WITH RIG

In [66]:
data=pd.read_excel('type_guj.xlsx')
data

C:\ProgramData\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Vehicle Class Wise Fuel Data of Gujarat ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,S No,Vehicle Class ...,Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,NaN
3,1,ADAPTED VEHICLE,2,801,11,0,0,0,0,7,...,0,57,"12,191","1,290",0,62,33,0,0,"14,454"
4,2,AGRICULTURAL TRACTOR,0,"6,15,509",28,0,0,0,0,30,...,0,"1,777",807,13,0,0,1,0,29,"6,18,195"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,66,VEHICLE FITTED WITH COMPRESSOR,0,"1,187",0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,1,"1,198"
69,67,VEHICLE FITTED WITH GENERATOR,0,296,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,298
70,68,VEHICLE FITTED WITH RIG,0,"2,643",0,0,0,0,0,1,...,0,4,3,0,0,0,0,0,1,"2,652"
71,69,VINTAGE MOTOR VEHICLE,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,2
72,70,X-RAY VAN,0,10,0,0,0,0,0,1,...,0,3,10,0,0,0,0,0,2,26

In [67]:
# Map the "TOTAL" column and "Vehicle Class" column
mapped_data = data[['Unnamed: 23', 'Unnamed: 1']].dropna()

# Print the mapped data
print(mapped_data)

        Unnamed: 23                                         Unnamed: 1
0        TOTAL                             Vehicle Class           ...
3            14,454                                    ADAPTED VEHICLE
4          6,18,195                               AGRICULTURAL TRACTOR
5            10,697                                          AMBULANCE
6               555                                   ANIMAL AMBULANCE
..              ...                                                ...
68            1,198                     VEHICLE FITTED WITH COMPRESSOR
69              298                      VEHICLE FITTED WITH GENERATOR
70            2,652                            VEHICLE FITTED WITH RIG
71                2                              VINTAGE MOTOR VEHICLE
72               26                                          X-RAY VAN

[71 rows x 2 columns]

In [68]:
data
data.drop(0).dropna()

,Vehicle Class Wise Fuel Data of Gujarat ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
3,1,ADAPTED VEHICLE,2,801,11,0,0,0,0,7,...,0,57,"12,191","1,290",0,62,33,0,0,"14,454"
4,2,AGRICULTURAL TRACTOR,0,"6,15,509",28,0,0,0,0,30,...,0,"1,777",807,13,0,0,1,0,29,"6,18,195"
5,3,AMBULANCE,11,"7,645",8,0,0,0,0,1,...,0,12,"2,256",731,0,5,27,0,1,"10,697"
6,4,ANIMAL AMBULANCE,0,96,0,0,0,0,0,0,...,0,1,453,4,0,0,1,0,0,555
7,5,ARMOURED/SPECIALISED VEHICLE,0,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,66,VEHICLE FITTED WITH COMPRESSOR,0,"1,187",0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,1,"1,198"
69,67,VEHICLE FITTED WITH GENERATOR,0,296,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,298
70,68,VEHICLE FITTED WITH RIG,0,"2,643",0,0,0,0,0,1,...,0,4,3,0,0,0,0,0,1,"2,652"
71,69,VINTAGE MOTOR VEHICLE,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,2
72,70,X-RAY VAN,0,10,0,0,0,0,0,1,...,0,3,10,0,0,0,0,0,2,26

In [83]:
last_row = data.iloc[-1]

# Find the maximum value in the last row
max_value = max(last_row)
print("Maximum Value in the Last Row:", max_value)

Maximum Value in the Last Row: X-RAY VAN

In [80]:
df=pd.read_excel('type_haryana.xlsx')
df

C:\ProgramData\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Vehicle Class Wise Fuel Data of Haryana ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,S No,Vehicle Class ...,Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,NaN
3,1,ADAPTED VEHICLE,0,70,0,0,0,0,0,0,...,0,1,251,40,0,1,5,0,0,368
4,2,AGRICULTURAL TRACTOR,1,"5,54,798",1,0,0,0,0,50,...,0,"20,890","3,908",57,0,0,32,0,28,"5,79,765"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,TREE TRIMMING VEHICLE,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
66,64,VEHICLE FITTED WITH COMPRESSOR,0,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24
67,65,VEHICLE FITTED WITH GENERATOR,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
68,66,VEHICLE FITTED WITH RIG,0,30,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,31
69,67,X-RAY VAN,0,4,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,7

In [84]:
# Map the "TOTAL" column and "Vehicle Class" column
mapped_df = data[['Unnamed: 23', 'Unnamed: 1']].dropna()

# Print the mapped data
print(mapped_df)

        Unnamed: 23                                         Unnamed: 1
0        TOTAL                             Vehicle Class           ...
3               368                                    ADAPTED VEHICLE
4          5,79,765                               AGRICULTURAL TRACTOR
5             5,170                                          AMBULANCE
6                48                                   ANIMAL AMBULANCE
..              ...                                                ...
65                4                              TREE TRIMMING VEHICLE
66               24                     VEHICLE FITTED WITH COMPRESSOR
67                9                      VEHICLE FITTED WITH GENERATOR
68               31                            VEHICLE FITTED WITH RIG
69                7                                          X-RAY VAN

[68 rows x 2 columns]

In [90]:
df
df.drop(0).dropna()

,Vehicle Class Wise Fuel Data of Haryana ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
3,1,ADAPTED VEHICLE,0,70,0,0,0,0,0,0,...,0,1,251,40,0,1,5,0,0,368
4,2,AGRICULTURAL TRACTOR,1,"5,54,798",1,0,0,0,0,50,...,0,"20,890","3,908",57,0,0,32,0,28,"5,79,765"
5,3,AMBULANCE,7,"3,026",0,0,0,0,0,0,...,0,3,"1,963",136,0,0,34,0,0,"5,170"
6,4,ANIMAL AMBULANCE,2,44,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,48
7,5,ARMOURED/SPECIALISED VEHICLE,0,100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,TREE TRIMMING VEHICLE,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
66,64,VEHICLE FITTED WITH COMPRESSOR,0,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24
67,65,VEHICLE FITTED WITH GENERATOR,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
68,66,VEHICLE FITTED WITH RIG,0,30,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,31
69,67,X-RAY VAN,0,4,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,7

In [91]:
lastrow = data.iloc[-1]

# Find the maximum value in the last row
maxvalue = max(lastrow)
print("Maximum Value in the Last Row:", maxvalue)

Maximum Value in the Last Row: X-RAY VAN

In [92]:
data=pd.read_excel('type_guj.xlsx')
data

C:\ProgramData\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Vehicle Class Wise Fuel Data of Gujarat ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,S No,Vehicle Class ...,Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,NaN
3,1,ADAPTED VEHICLE,2,801,11,0,0,0,0,7,...,0,57,"12,191","1,290",0,62,33,0,0,"14,454"
4,2,AGRICULTURAL TRACTOR,0,"6,15,509",28,0,0,0,0,30,...,0,"1,777",807,13,0,0,1,0,29,"6,18,195"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,66,VEHICLE FITTED WITH COMPRESSOR,0,"1,187",0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,1,"1,198"
69,67,VEHICLE FITTED WITH GENERATOR,0,296,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,298
70,68,VEHICLE FITTED WITH RIG,0,"2,643",0,0,0,0,0,1,...,0,4,3,0,0,0,0,0,1,"2,652"
71,69,VINTAGE MOTOR VEHICLE,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,2
72,70,X-RAY VAN,0,10,0,0,0,0,0,1,...,0,3,10,0,0,0,0,0,2,26

In [93]:
last_row = data.iloc[-1]

# Find the maximum value in the last row
max_value = max(last_row)
print("Maximum Value in the Last Row:", max_value)

Maximum Value in the Last Row: X-RAY VAN

In [94]:
df=pd.read_excel('type_haryana.xlsx')
df

C:\ProgramData\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Vehicle Class Wise Fuel Data of Haryana ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,S No,Vehicle Class ...,Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,NaN
3,1,ADAPTED VEHICLE,0,70,0,0,0,0,0,0,...,0,1,251,40,0,1,5,0,0,368
4,2,AGRICULTURAL TRACTOR,1,"5,54,798",1,0,0,0,0,50,...,0,"20,890","3,908",57,0,0,32,0,28,"5,79,765"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,TREE TRIMMING VEHICLE,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
66,64,VEHICLE FITTED WITH COMPRESSOR,0,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24
67,65,VEHICLE FITTED WITH GENERATOR,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
68,66,VEHICLE FITTED WITH RIG,0,30,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,31
69,67,X-RAY VAN,0,4,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,7

In [97]:
data=pd.read_excel('type_karnataka.xlsx')
data

C:\ProgramData\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Vehicle Class Wise Fuel Data of Karnataka ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,S No,Vehicle Class ...,Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,NaN
3,1,ADAPTED VEHICLE,1,543,2,0,0,0,0,16,...,0,11,"39,005",25,0,38,33,0,0,"39,675"
4,2,AGRICULTURAL TRACTOR,0,"6,86,442",12,0,0,0,0,25,...,0,"6,792","3,868",2,0,0,14,0,13,"6,97,235"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,66,TREE TRIMMING VEHICLE,0,25,0,0,0,0,0,0,...,0,8,0,0,0,0,0,0,0,33
69,67,VEHICLE FITTED WITH COMPRESSOR,0,"1,582",0,0,0,0,0,0,...,0,50,31,0,0,0,0,0,0,"1,663"
70,68,VEHICLE FITTED WITH GENERATOR,0,"1,038",0,0,0,0,0,0,...,0,30,21,0,0,0,1,0,0,"1,090"
71,69,VEHICLE FITTED WITH RIG,0,"11,199",0,0,0,0,0,1,...,0,194,110,0,0,0,0,0,1,"11,505"
72,70,X-RAY VAN,0,6,0,0,0,0,0,0,...,0,6,1,0,0,0,0,0,0,13

In [100]:
# Map the "TOTAL" column and "Vehicle Class" column
mapped_df = data[['Unnamed: 23', 'Unnamed: 1']].dropna()

# Print the mapped data
print(mapped_df)

        Unnamed: 23                                         Unnamed: 1
0        TOTAL                             Vehicle Class           ...
3            39,675                                    ADAPTED VEHICLE
4          6,97,235                               AGRICULTURAL TRACTOR
5            11,938                                          AMBULANCE
6                54                                   ANIMAL AMBULANCE
..              ...                                                ...
68               33                              TREE TRIMMING VEHICLE
69            1,663                     VEHICLE FITTED WITH COMPRESSOR
70            1,090                      VEHICLE FITTED WITH GENERATOR
71           11,505                            VEHICLE FITTED WITH RIG
72               13                                          X-RAY VAN

[71 rows x 2 columns]

In [99]:
df=pd.read_excel('type_haryana.xlsx')
df

C:\ProgramData\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Vehicle Class Wise Fuel Data of Haryana ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,S No,Vehicle Class ...,Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,NaN
3,1,ADAPTED VEHICLE,0,70,0,0,0,0,0,0,...,0,1,251,40,0,1,5,0,0,368
4,2,AGRICULTURAL TRACTOR,1,"5,54,798",1,0,0,0,0,50,...,0,"20,890","3,908",57,0,0,32,0,28,"5,79,765"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,TREE TRIMMING VEHICLE,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
66,64,VEHICLE FITTED WITH COMPRESSOR,0,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24
67,65,VEHICLE FITTED WITH GENERATOR,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
68,66,VEHICLE FITTED WITH RIG,0,30,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,31
69,67,X-RAY VAN,0,4,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,7

In [101]:
df
df.drop(0).dropna()

,Vehicle Class Wise Fuel Data of Haryana ( Till Today ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
3,1,ADAPTED VEHICLE,0,70,0,0,0,0,0,0,...,0,1,251,40,0,1,5,0,0,368
4,2,AGRICULTURAL TRACTOR,1,"5,54,798",1,0,0,0,0,50,...,0,"20,890","3,908",57,0,0,32,0,28,"5,79,765"
5,3,AMBULANCE,7,"3,026",0,0,0,0,0,0,...,0,3,"1,963",136,0,0,34,0,0,"5,170"
6,4,ANIMAL AMBULANCE,2,44,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,48
7,5,ARMOURED/SPECIALISED VEHICLE,0,100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,TREE TRIMMING VEHICLE,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
66,64,VEHICLE FITTED WITH COMPRESSOR,0,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24
67,65,VEHICLE FITTED WITH GENERATOR,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
68,66,VEHICLE FITTED WITH RIG,0,30,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,31
69,67,X-RAY VAN,0,4,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,7

In [102]:
last_row = data.iloc[-1]

# Find the maximum value in the last row
max_value = max(last_row)
print("Maximum Value in the Last Row:", max_value)

Maximum Value in the Last Row: X-RAY VAN